/*Todo font styles for everything */
/*TODO responsive design*/

.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 32px;
  background-image: url(../images/x-icon.svg);
  color: rgba(33, 33, 33, 1);
  border: 2px;
  opacity: 40%;
  background-color: #fff;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
  top: 300px;
  left: 405px;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__submit-btn {
  max-width: 156px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
}
