.modal {
  opacity: 0;
  transition: opacity ease-in 0.3s, visibility ease-out 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  visibility: hidden;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 32px;
  background-image: url(../images/x-icon.svg);
  padding: 0;
  border: 0;
  opacity: 40%;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/Modal-Prev-Close-btn.svg);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__error {
  display: block;
  margin-top: 8px;
  /*TODO CORRECT STYLES*/
  color: red;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__submit-btn {
  max-width: 156px;
  border-radius: 8px;
  padding: 18px 32px 18px 32px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  width: 198px;
  height: 24px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  padding: 4px 8px 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 627px) {
  /* Placed below 480px media query to avoid being overwritten. */
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    top: 406px;
    left: 16px;
    width: 159px;
    height: 19px;
    font-size: 16px;
  }
}
